body {
    margin: 0;
    padding: 0;

    text-align: center;
    font-size: 12pt;
    font-family: sans-serif;

    margin-bottom: 20rem;
}

h1 {
    background-image: linear-gradient(135deg, rgba(222, 164, 255,.8) 20%, rgba(134, 182, 255,.8) 80%);
    padding: 1rem;
    border-width: 2px 0;
    border-style: solid;
    border-color: rgba(0,0,0,.5);
    vertical-align: middle;
}

.content {
    max-width: 65rem;
    margin: auto;
}

table {
    display: block;
    padding: 1rem;
    /* width: 100%; */
    text-align: left;
}
td {
    padding: .5rem;
}

p {
    padding: 1rem;
    text-align: left;
    hyphens: auto;
}

.footer-img-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.footer-img-container img {
    width: 100%;
    max-width: 55rem;
    height: auto;
    padding: 0;
    vertical-align: bottom;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .3rem 0;
}
.footer a {
    display: block;
    text-shadow: 0 0 1px black;
    /* width: 100%; */
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
