body {
    margin: 0;
    padding: 0;
    height: 100%;

    text-align: center;
    font-size: 12pt;
    font-family: sans-serif;

    background-image: url('../images/teaser_leipzig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 14rem;
    background-attachment: fixed;
}

.center {
    max-width: 65rem;
    margin: auto;
}

h1 {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    z-index: 10;

    background-color: white;
    margin: 0;
    padding: 5rem 0;
    /*
    background: linear-gradient(135deg, rgb(191, 81, 255) 20%, rgb(85, 153, 255) 80%);
    background-clip: text;
    color: transparent;
    */
    font-size: 4rem;
    font-weight: bold;

    /* color: rgb(134, 182, 255); */
    text-shadow: .5rem .5rem rgb(222, 164, 255), 1rem 1rem rgb(134, 182, 255);;
}

.content {
    padding: 20rem 5rem 50vh;
}

p {
    background-image: linear-gradient(135deg, rgba(222, 164, 255,.5) 20%, rgba(134, 182, 255,.5) 80%);
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
    hyphens: auto;
}

.footer {
    border: 0;
    border-top: .1rem;
    border-style: solid;
    border-color: rgb(210, 210, 210);

    text-align: left;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgb(240, 240, 240);
    text-align: center;
    font-size: .7em;
    padding: 1rem 2rem;
}
.footer a {
    color: black;
    text-decoration: none;
}
